In [3]:
import numpy as np
import pandas as pd

In [25]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [26]:
data=pd.read_csv('supermarket.csv')

In [27]:
data.head()

              MILK,BREAD,BISCUIT
0  BREAD,MILK,BISCUIT,CORNFLAKES
1            BREAD,TEA,BOURNVITA
2           JAM,MAGGI,BREAD,MILK
3              MAGGI,TEA,BISCUIT
4            BREAD,TEA,BOURNVITA

In [28]:
data.isna().sum()

MILK,BREAD,BISCUIT    0
dtype: int64

In [29]:
data.shape

(19, 1)

In [37]:
fdata=data["MILK,BREAD,BISCUIT"].apply(lambda t: t.split(","))

In [47]:
fdata=list(fdata)
fdata

[['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [48]:
from mlxtend.preprocessing import TransactionEncoder

In [49]:
te=TransactionEncoder()

In [50]:
fte=te.fit(fdata).transform(fdata)

In [51]:
df=pd.DataFrame(fte,columns=te.columns_)

In [52]:
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,True,False,False,True,False,False
1,False,True,True,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,True,True,True,False,False
3,True,False,False,False,False,False,False,True,False,False,True
4,False,True,True,False,False,False,False,False,False,False,True
5,False,False,False,False,False,True,False,True,False,False,True
6,True,False,True,False,False,False,False,True,False,False,True
7,False,False,True,False,False,False,True,True,False,False,True
8,False,False,True,False,False,False,False,False,True,False,False
9,True,False,False,True,True,True,False,False,False,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,False,True,False,False,True,False,False,False,False,True,False
12,False,False,True,True,True,False,False,False,False,False,False
13,True,False,True,False,False,False,False,False,False,True,False
14,False,False,False,False,True,True,False,False,False,True,False
15,False,True,True,False,False,False,False,False,False,True,False
16,False,False,True,False,True,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,False,False,True,True,False,False,True,False,True

In [64]:
frequent_item=apriori(df,min_support=0.2,use_colnames=True)

In [65]:
frequent_item

     support              itemsets
0   0.315789             (BISCUIT)
1   0.210526           (BOURNVITA)
2   0.631579               (BREAD)
3   0.421053              (COFFEE)
4   0.315789          (CORNFLAKES)
5   0.263158               (MAGGI)
6   0.210526                (MILK)
7   0.315789               (SUGER)
8   0.368421                 (TEA)
9   0.210526        (SUGER, BREAD)
10  0.210526          (BREAD, TEA)
11  0.210526  (CORNFLAKES, COFFEE)
12  0.210526       (SUGER, COFFEE)
13  0.210526          (MAGGI, TEA)

# association rule minning

In [66]:
arm=association_rules(frequent_item,metric="confidence",min_threshold=0.3)

In [67]:
arm

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(SUGER),(BREAD),0.315789,0.631579,0.210526,0.666667,1.055556,0.011080,1.105263,0.076923
1,(BREAD),(SUGER),0.631579,0.315789,0.210526,0.333333,1.055556,0.011080,1.026316,0.142857
2,(BREAD),(TEA),0.631579,0.368421,0.210526,0.333333,0.904762,-0.022161,0.947368,-0.222222
3,(TEA),(BREAD),0.368421,0.631579,0.210526,0.571429,0.904762,-0.022161,0.859649,-0.142857
4,(CORNFLAKES),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842,0.538462
5,(COFFEE),(CORNFLAKES),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421,0.636364
6,(SUGER),(COFFEE),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842,0.538462
7,(COFFEE),(SUGER),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421,0.636364
8,(MAGGI),(TEA),0.263158,0.368421,0.210526,0.800000,2.171429,0.113573,3.157895,0.732143
9,(TEA),(MAGGI),0.368421,0.263158,0.210526,0.571429,2.171429,0.113573,1.719298,0.854167